/train-SSConv/build/*
!/train-SSConv/build/.gitignore
/train-SSConv/weights/
/train-SSConv/.idea/
/train-SSConv/cmake-build-debug/
/train-SSConv/obj/*
!/train-SSConv/obj/.gitignore

/test-SSConv/build/*
!/test-SSConv/build/.gitignore
/test-SSConv/weights/
/test-SSConv/.idea/
/test-SSConv/cmake-build-debug/
/test-SSConv/obj/*
!/test-SSConv/obj/.gitignore

/train-MSConv/build/*
!/train-MSConv/build/.gitignore
/train-MSConv/weights/
/train-MSConv/.idea/
/train-MSConv/cmake-build-debug/
/train-MSConv/obj/*
!/train-MSConv/obj/.gitignore

/test-MSConv/build/*
!/test-MSConv/build/.gitignore
/test-MSConv/weights/
/test-MSConv/.idea/
/test-MSConv/cmake-build-debug/
/test-MSConv/obj/*
!/test-MSConv/obj/.gitignore

/train-Dense/build/*
!/train-Dense/build/.gitignore
/train-Dense/weights/
/train-Dense/.idea/
/train-Dense/cmake-build-debug/
/train-Dense/obj/*
!/train-Dense/obj/.gitignore

/test-Dense/build/*
!/test-Dense/build/.gitignore
/test-Dense/weights/
/test-Dense/.idea/
/test-Dense/cmake-build-debug/
/test-Dense/obj/*
!/test-Dense/obj/.gitignore

/record-spikes/build/*
!/record-spikes/build/.gitignore
/record-spikes/weights/
/record-spikes/.idea/
/record-spikes/cmake-build-debug/
/record-spikes/obj/*
!/record-spikes/obj/.gitignore

/train-Conv_mnist/build/*
!/train-Conv_mnist/build/.gitignore
/train-Conv_mnist/weights/
/train-Conv_mnist/.idea/
/train-Conv_mnist/cmake-build-debug/
/train-Conv_mnist/obj/*
!/train-Conv_mnist/obj/.gitignore

/test-Conv_mnist/build/*
!/test-Conv_mnist/build/.gitignore
/test-Conv_mnist/weights/
/test-Conv_mnist/.idea/
/test-Conv_mnist/cmake-build-debug/
/test-Conv_mnist/obj/*
!/test-Conv_mnist/obj/.gitignore

/train-SSConv_mnist/build/*
!/train-SSConv_mnist/build/.gitignore
/train-SSConv_mnist/weights/
/train-SSConv_mnist/.idea/
/train-SSConv_mnist/cmake-build-debug/
/train-SSConv_mnist/obj/*
!/train-SSConv_mnist/obj/.gitignore

/data/mnist_event

/snapshots/*
!/snapshots/.gitignore
/.idea/
*.trace
*.a
*.o
*.ppm
.project
*.xml
*.iml
.gitignore~
tags
*~
*.swp
*.swo
